<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
       point="org.eclipse.jdt.core.classpathContainerInitializer">
      <classpathContainerInitializer
          id="de.tototec.cmvn.CMVN_DEPENDENCIES"
          class="de.tototec.cmvn.eclipse.plugin.CmvnClasspathContainerInitializer"/>
   </extension>
   <extension 
       point="org.eclipse.jdt.ui.classpathContainerPage">
      <classpathContainerPage
         	id="de.tototec.cmvn.CMVN_DEPENDENCIES"
         	name="Cmvn Classpath Container"
         	class="de.tototec.cmvn.eclipse.plugin.CmvnClasspathContainerPage" />
   </extension>

   <!-- Backward compatibility for 0.1.8 only -->
   <extension
       point="org.eclipse.jdt.core.classpathContainerInitializer">
      <classpathContainerInitializer
          id="de.tototec.tools.cmvn.CMVN_DEPENDENCIES"
          class="de.tototec.cmvn.eclipse.plugin.CmvnClasspathContainerInitializer"/>
   </extension>
   <!-- Backward compatibility for 0.1.8 only -->
   <extension 
       point="org.eclipse.jdt.ui.classpathContainerPage">
      <classpathContainerPage
         	id="de.tototec.tools.cmvn.CMVN_DEPENDENCIES"
         	name="Cmvn Legacy Classpath Container (Deprecated, Please Update)"
         	class="de.tototec.cmvn.eclipse.plugin.LegacyCmvnClasspathContainerPage" />
   </extension>
   
</plugin>
